#maintext {
    font-family: 'Josefin Sans', sans-serif;
}

.linkTxt {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.4em;
    color: black;
    margin-top: 15px;
    margin-bottom: 25px;
}

h1 {
    color: black;
    margin-bottom: 25px;
}

body {
    padding-top: 70px;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

.navbar-default .navbar-brand {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

.nav.navbar-nav.navbar-right li a:hover:not(.active) {
    background-color: #4d4b4f;
}

.navbar-default .navbar-brand:hover:not(.active) {
    background-color: #4d4b4f;
}

.active a{
    background-color: #098d96 !important;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}